name: prerelease

on:
  release:
    types: [ prereleased ]

jobs:
  package:
    name: Build and Package
    runs-on: ubuntu-24.04

    outputs:
      version: ${{ steps.version.outputs.value }}

    steps:
    - uses: actions/checkout@v4

    - name: Version
      id: version
      run: echo ::set-output name=value::${GITHUB_REF#refs/*/}

    - name: Setup Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel

    - name: Build package
      run: make package version=${{ steps.version.outputs.value }}

    - name: Upload Pipeline Artifacts
      uses: actions/upload-artifact@v4
      with:
        retention-days: 1
        name: built-artifacts
        path: dist/
    
  upload-assets:
    name: Upload Assets to Release
    runs-on: ubuntu-24.04

    needs: package

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: built-artifacts
        path: dist/

    - uses: AButler/upload-release-assets@v3.0
      with:
        files: 'dist/*'
        repo-token: ${{ secrets.ACCESS_TOKEN }}
        release-tag: ${{ needs.package.outputs.version }}

  publish-pypi:
    name: Publish packages to PyPi
    runs-on: ubuntu-24.04

    needs: package

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: built-artifacts
        path: dist/

    - uses: pypa/gh-action-pypi-publish@v1.10.2
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
