name: Pull request

on:
  pull_request:
    branches: [ master ]

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Cache pip
      id: cache
      uses: actions/cache@v3.0.2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Lint
      run: make lint || exit 0

    - name: Tests
      run: make test || exit 0
